
$color-green = #4FFFe0
$color-blue = #2fb3ea
$color-Violet = #e660e7
$color-Biao = #ff9f16
$color-Red = #f33434
$color-red = #fe0000
$border-color = #DCDFE6
unitTitle()
  color #fff
  background #1d3b5f
  height 48px
  line-height 48px
  font-weight bold
  text-align center
  font-size 26px
close()
  cursor pointer
  position absolute
  top 16px
  right 16px
  height 18px
  width 18px
