
$color-green = #4FFFe0
$color-blue = #2fb3ea
$color-Violet = #e660e7
$color-Biao = #ff9f16
$color-Red = #f33434
$color-red = #fe0000
$border-color = #DCDFE6
unitTitle()
  color #fff
  font-weight bold
  text-align center
  margin-bottom 20px
  font-size 22px
